body,html,h1h,h2,h3,h4,h5,h6{
    margin: 0;
    padding:0;
    font-family:"Dosis", sans-serif;
}
#particles-js{ 
    width: 100%;
    height: 100vh;

}
.home-section{
    position: absolute;
    top:45%;
    padding:0 20px;
}
.home-section span{
    font-size:7vh;
    text-shadow:0 0 10px #ffacac;
}
.about{
    font-family: 'Dosis',sans-serif;
    font-size:4vh;
}
.about span{
    font-family:'Tahoma',sans-serif;
    color: #333;
}.btn-primary a{
    text-decoration: none;
    color: #fff;
}
.section-3{
    background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #bdc3c7, #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #bdc3c7, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#myBtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px;
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: red; 
    color: white; 
    cursor: pointer;
    padding: 15px; 
    border-radius: 10px;
    font-size: 18px; 
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
.about li a{
    text-decoration: none;
    color: #fff;
}
.wrapper {
    position: relative;
    width: 85%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .wrapper:hover .overlay {
    width: 100%;
  }
  
  .text, .b {
    color: white;
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  footer > *{
      
      color:#333;
  }
@media(max-width:1024px){
    .about{
        font-size:1em;
    }
}